@model DiemPortal.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTag" class="control-label"></label>
                <input asp-for="ProjectTag" class="form-control" />
                <span asp-validation-for="ProjectTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectManager" class="control-label"></label>
                <input asp-for="ProjectManager" class="form-control" />
                <span asp-validation-for="ProjectManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxAdministration" class="control-label"></label>
                <input asp-for="TaxAdministration" class="form-control" />
                <span asp-validation-for="TaxAdministration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxNo" class="control-label"></label>
                <input asp-for="TaxNo" class="form-control" />
                <span asp-validation-for="TaxNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IbanTr" class="control-label"></label>
                <input asp-for="IbanTr" class="form-control" />
                <span asp-validation-for="IbanTr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IbanUsd" class="control-label"></label>
                <input asp-for="IbanUsd" class="form-control" />
                <span asp-validation-for="IbanUsd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IbanEur" class="control-label"></label>
                <input asp-for="IbanEur" class="form-control" />
                <span asp-validation-for="IbanEur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
