@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Giriş izniniz yok.</p>
</header>
