@page
@model LockoutModel
@{
    ViewData["Title"] = "Hesabınız kapatıldı";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Bu hesap kapatıldı.Lütfen daha sonra tekrar deneyiniz.</p>
</header>
