@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt Doğrulaması";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Hesabınızı doğrulamak için tıklayınız</a>
</p>
    }
    else
    {
<p>
      Hesabını doğrulamak için e-posta adresini kontrol et.
</p>
    }
}

