@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre Sıfırlama Doğrulaması";
}

<h1>@ViewData["Title"]</h1>
<p>
   Şifren sıfırlandı. Lütfen <a asp-page="./Login">Giriş Yapmak için tıkla</a>.
</p>
